.SongItem, .SongItem__title {
    display: grid;
    grid-template-columns: 30% 30% 30% 10%;
    grid-auto-rows: auto;
}

.SongItem {
    background-color: #9ab3f5;
    border-bottom: 1px solid black;
    padding: 5px 5px;
    box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.5);
}

.SongItem:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.8);
}

.SongItem:last-child {
    
}

.SongItem__title {
     background-color: rgba(255, 255, 255, 0.8);
     font-weight: bolder;
     font-size: 1.2rem;
     padding: 5px;
}